<!DOCTYPE html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', path='/js/ytController.js') }}"></script>
	<script src="{{ url_for('static', path='/js/ytPlayer.js') }}"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script>
	var room = "{{ room }}"
    var name = "";
	$(document).ready(function() {
		document.querySelector('.custom-file-input').addEventListener('change',function(e){
			var fileName = document.getElementById("playlist_file").files[0].name;
			var nextSibling = e.target.nextElementSibling
			nextSibling.innerText = fileName
		});

        $("#start_btn").click(function() {
            name = $("#rollName").val();
            $("#modalName").modal('hide');
        });
	})
</script>
<html>
	<body style="background-color:#2f3640">
		<nav style="height:5vh;background-color:#40739e;display:flex;justify-content:space-between" class="navbar navbar-expand-md navbar-dark">
			<a class="navbar-brand" href="#">SyncPlayer</a>
			<div style="display:flex;flex-direction:row">
                <!-- <input class="custom-file-input" id="playlist_file" type="file"> -->
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="playlist_file"
					  aria-describedby="inputGroupFileAddon01">
					<label class="custom-file-label" for="playlist_file">Choose file</label>
				</div>
				<button class="btn btn-warning" id="load_playlist_file" style="margin-left:5px;color:white">Load</button>
            </div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-8" style="display:flex;flex-direction:column;justify-content:space-between;margin-bottom: 10px;">
					<div class="mx-auto" style="margin-top:20px">
						<div id="player" style="display:none"></div>
					</div>
					<div id="info" class="card">
						<div class="card-body" style="background-color:#273c75;color:white;">
							<div id="info_video" style="text-align:center">-</div>
							<br>
							<div style="display:flex;justify-content:center">
								<button class="btn btn-sm btn-primary" id="back_10_btn">-10s</button>
								<div id="info_video_player" class="rounded border border-primary" style="padding:5px;margin-left:10px;margin-right:5px">-</div>
								<button class="btn btn-sm btn-primary" id="forward_10_btn">+10s</button>
							</div>
						</div>
					</div>
					<div style="display:flex;justify-content:space-around">
						<div class="card" style="width:40%;background-color:#192a56;text-align:center">
							<div class="card-body">
								<div style="color:white">Load a video</div>
								<br>
								<div class="form-inline" style="display:flex;justify-content:center">
									<input class="form-control" type="text" id="url" />
									<button style="margin-left:5px" class="btn btn-sm btn-success" id="load_btn">Load</button>
									<button style="margin-left:5px" class="btn btn-sm btn-success" id="add_btn">Add</button>
								</div>
							</div>
						</div>
						<div class="card" style="width:50%;background-color:#192a56;text-align:center">
							<div class="card-body" style="text-align:center">
								<div style="display:flex;justify-content:center">
									<button style="margin-left:5px;display:none" class="btn btn-sm btn-success" id="play_btn">Play</button>
									<button style="margin-left:5px" class="btn btn-sm btn-secondary" id="pause_btn">Pause</button>
									<button style="margin-left:5px" class="btn btn-sm btn-primary" id="loop_btn">Loop</button>
									<button style="margin-left:5px" class="btn btn-sm btn-primary" id="shuffle_btn" disabled>Shuffle</button>
									<button style="margin-left:5px" class="btn btn-sm btn-primary" id="mute_btn" disabled>Mute</button>
									<button style="margin-left:5px" class="btn btn-sm btn-primary" id="next_btn">Next</button>
								</div>
								<br>
								<div style="color:white">Volume : <input type="range" id="volume" name="volume" min="0" max="100" value="25"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4" style="background-color:#718093;height:95vh;display:flex;flex-direction:column;justify-content:space-between">
                    <div>
                        <h3 style="text-align:center;color:white">Playlist</h3>
                        <hr style="width:100%;">
                        <div style="overflow:auto;max-height:55vh">
                            <div class="list-group" id="playlist"></div>
                        </div>
                    </div>
                    <div id="roll" style="margin-bottom:10px;">
                        <hr style="width:100%;">
                        {% include 'roll.html' %}
                    </div>
				</div>
			</div>
		</div>

		<!-- Modal unmute after sync -->
		<div class="modal fade" id="modalMutebtn" tabindex="-1" role="dialog" aria-labelledby="modalMutebtn" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Choose a Name</h5>
                      </div>
                    <div class="modal-body form-inline" style="display:flex;justify-content:center">
                        <input class="form-control" type="text" id="rollName" name="rollName" style="margin-right:10px;">
                        <button class="btn btn-sm btn-success" id="start_btn">Start</button>
                    </div>
                </div>
			</div>
		</div>
	</body>
</html>
